<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>
{% if site.googleSiteVerification %}
<meta name="google-site-verification" content="{{ site.googleSiteVerification }}" />
{% endif %}

<!-- Mobile Specific Metas -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

<!-- Favicon -->
<link rel="icon" type="image/png" href="/images/mini-logo.svg">

<!-- CSS -->
<!-- Bootstrap -->
<link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
<!-- FontAwesome -->
<link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
<!-- Animation -->
<link rel="stylesheet" href="/plugins/animate-css/animate.css">
<!-- slick Carousel -->
<link rel="stylesheet" href="/plugins/slick/slick.css">
<link rel="stylesheet" href="/plugins/slick/slick-theme.css">
<!-- Colorbox -->
<link rel="stylesheet" href="/plugins/colorbox/colorbox.css">
<!-- Template styles-->
<link rel="stylesheet" href="/css/style.css">

<!-- Open Graph / Facebook -->
{% if title %}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{% if title %}{{ title }} | {% endif %}{{ site.title }}">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
{% endif %}

<!-- Canonical URL -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
