{% extends "layouts/base.njk" %}

{% block content %}
  {% if breadcrumbs %}
    {% include "components/breadcrumb.njk" %}
  {% endif %}

  <section id="main-container" class="main-container">
    <div class="container">
      {{ content | safe }}
    </div>
  </section>
{% endblock %}

{% block scripts %}
  {% include "components/scripts.njk" %}
  <!-- Google Map Plugin (must load before API)-->
  <script src="/plugins/google-map/map.js"></script>
  <!-- Google Map API Key-->
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&callback=initMap&loading=async&libraries=marker"></script>
{% endblock %}
